<!DOCTYPE html>
<html>
      <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="../public/javascripts/jquery-2.1.4.js"></script>
      </head>

      <body>
        <h1><%= title %></h1>
        <br/><br/>
        <center>
        <select id="playDDL" name="playDDL" onchange="reportDDL(this.value)">
          <option value="Astrix">Astrix</option>
          <option value="Deadmau5">Deadmau5</option>
          <option value="Tiesto">Tiesto</option>
          <option value="Avicii">Avicii</option>
          <option value="Markus Schulz">Markus Schulz</option>
          <option value="Armin Van Buuren">Armin Van Buuren</option>
        </select>
          <br/><br/>
        <ul id="playUL">
          <% resultsData.forEach(function(item){ %>
            <li><h1><small><%= item.title %></small></h1><a href="<%= item.link %>" target="_blank"><img src="<%= item.thumbnails.high.url %>"/></a></li>
          <br/>
          <% }); %>
        </ul>
        </center>

        <script type="text/javascript">
          function reportDDL(val) {
            $.ajax({
              url: '/getYT',
              type: 'GET',
              data: {valDDL: val},
              success: function (data) {
                window.alert('Success!')
              }
            });
          }
        </script>
      </body>
</html>
